<%var data = questions['choose'];%>

<div class="panel panel-default">
    <div class="panel-heading"><h3><%=data.title%></h3></div>
    <div class="panel-body">
        <% data.content.forEach(function(element,i){%>

        <label><%=i+1%>.<%=element.description%>:</label>
        <dl>
            <%element.items.forEach(function(item){%>

            <dd><input type="radio" name="<%=element.name%>" value="<%=item[0]%>"

                        <%if(form && form[element.name] === item[0]){%>
                       checked="checked"
                        <%}%>

                        ><%=item[1]%></dd>

            <%})%>
        </dl>
        <%});%>
    </div>


</div>