<%var data = questions['block'];%>

<div class="panel panel-default">
    <div class="panel-heading"><h3><%=data.title%></h3></div>
    <div class="panel-body">
        <dl>
            <%data.content.forEach(function(element,i){%>

            <dd><label><%=i+1%>. <%=element.description%>:</label>
                <label>
                    <%for(var k = 0; k < element.items[0]; k++){%>
                    <input  type="text" name="<%=element.name%>" class="form-control"
                            <%if(form){%>

                            <%if( Array.isArray(form[element.name])){%>
                            value="<%=form[element.name][k]%>"
                            <%}else{%>
                            value="<%=form[element.name]%>"

                            <%}%>
                            <%}%>
                            >
                    <%}%>
                </label></dd>

            <%})%>

        </dl>

    </div>

</div>
