<%var data = dataArray[3];%>

<div>
    <h3><%=data.title%></h3>
    <ul>
        <%data.content.forEach(function(element,i){%>

        <li><label><%=i+1%>. <%=element.description%></label>
            <input type="radio" name="<%=element.name%>" value="false">false
            <input type="radio" name="<%=element.name%>" value="true">true
        </li>
                <%});%>


    </ul>

</div>
