<%var data = dataArray[2];%>

<div>
    <h3><%=data.title%></h3>
    <% data.content.forEach(function(element,i){%>

    <label><%=i+1%>.<%=element.description%>:</label>
    <ul>
        <%element.items.forEach(function(item){%>

        <li><input type="checkbox" name="<%=element.name%>" value="<%=item[0]%>"><%=item[1]%></li>

        <%})%>
    </ul>
    <%});%>
</div>