<%- include('partials/head') %>

<form action="/" method="post" class="form-inline">

    <%- include('partials/title')%>

    <%- include('partials/fill-in',{fillins:questions.fillins})%>

    <%- include('partials/choice',{choices:questions.choices})%>

    <%- include('partials/multi-choice',{multis:questions.multis})%>

    <%- include('partials/judgement',{judgements:questions.judgements})%>

    <%- include('partials/short-answer',{shortAnswers:questions.shortAnswers})%>

    <button type="button" class="btn btn-primary btn-block"  >提交</button>

</form>


<%- include('partials/modal')%>
<%- include('partials/foot')%>
